src/*.exe
src/litedoged
src/build.h
src/test_litedoge
src/litedoge-qt
litedoge-qt
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.P
*.litedoge
*.directory
#compilation and Qt preprocessor part
*.qm
.qmake.stash
Makefile
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
build
.DS_Store
build

!src/leveldb/Makefile
