name: Continuous Integration
 
on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'contrib/**'
      - '**/*.md'

jobs:
  build:
    name: ${{ matrix.name }}

    env:
      MAKEJOBS: "-j3"
      CHECK_DOC: "0"
      CCACHE_SIZE: "100M"
      CCACHE_TEMPDIR: /tmp/.ccache-temp
      CCACHE_COMPRESS: "1"
      PYTHON_DEBUG: "1"
      WINEDEBUG: fixme-all
      SDK_URL: https://bitcoincore.org/depends-sources/sdks

    strategy:
      fail-fast: false
      matrix:
        name:
          - x86_64-linux
          - x86_64-macos
          - x86_64-win
        include:
          - name: x86_64-linux
            host: x86_64-unknown-linux-gnu
            os: ubuntu-18.04
            packages: bc python3-zmq libboost-dev libboost-all-dev libssl-dev libdb++-dev libminiupnpc-dev libleveldb-dev 
            run-tests: true
            goal: install
          - name: x86_64-win
            host: x86_64-w64-mingw32
            arch: "i386"
            os: ubuntu-20.04
            packages: python3 nsis g++-mingw-w64-x86-64 wine64 bc wine-binfmt libboost-dev libboost-all-dev libssl-dev libdb++-dev libminiupnpc-dev libleveldb-dev 
            postinstall: |
              sudo update-alternatives --set x86_64-w64-mingw32-gcc  /usr/bin/x86_64-w64-mingw32-gcc-posix
              sudo update-alternatives --set x86_64-w64-mingw32-g++  /usr/bin/x86_64-w64-mingw32-g++-posix
              sudo update-binfmts --import /usr/share/binfmts/wine
            run-tests: true
            dep-opts: ""
            config-opts: "--enable-reduce-exports --enable-gui=qt5"
            goal: install
          - name: x86_64-macos
            host: x86_64-apple-darwin11
            os: ubuntu-18.04
            packages: cmake imagemagick libcap-dev librsvg2-bin libz-dev libtiff-tools libtinfo5 python3-setuptools xorriso libtinfo5 libboost-dev libboost-all-dev libssl-dev libdb++-dev libminiupnpc-dev libleveldb-dev 
            run-tests: false
            dep-opts: ""
            config-opts: "--enable-gui=qt5 --enable-reduce-exports"
            goal: install
            sdk: 10.11

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
            version: 5.12.8
      - name: Add architecture
        if: ${{ matrix.arch }}
        run: |
          sudo dpkg --add-architecture "${{ matrix.arch }}"

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install build-essential libtool autotools-dev automake pkg-config bsdmainutils curl ca-certificates ccache python3 rsync git procps bison
          sudo apt-get install ${{ matrix.packages }}

      - name: Post install
        if: ${{ matrix.postinstall }}
        run: ${{ matrix.postinstall }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install SDK
        if: ${{ matrix.sdk }}
        run: |
          mkdir -p ./depends/sdk-sources
          mkdir -p ./depends/SDKs
          curl --location --fail $SDK_URL/MacOSX${{ matrix.sdk }}.sdk.tar.gz -o depends/sdk-sources/MacOSX${{ matrix.sdk }}.sdk.tar.gz
          tar -C depends/SDKs -xf depends/sdk-sources/MacOSX${{ matrix.sdk }}.sdk.tar.gz
      - name: QMake
        run: qmake RELEASE=1
      - name: Make
        run: make && ls
      - name: Upload Files to a GitHub Release (u)
        if: ${{ matrix.platform == 'ubuntu-latest' }}
        id: upload-release-assetu
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.mysecret }}
        with:
          tag_name: ${{matrix.host}}v699999
          release_name: Release ${{matrix.host}}v699999
          draft: false
          prerelease: false
      - name: Upload Files to a GitHub Release (mac)
        if: ${{ matrix.platform == 'windows-latest' }}
        id: create_releasewin
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.mysecret }}
        with:
          tag_name: ${{matrix.host}}v699999
          release_name: Release ${{matrix.host}}v699999
          draft: false
          prerelease: false
      - name: Upload Files to a GitHub Release (mac)
        if: ${{ matrix.host == 'x86_64-apple-darwin11' }}
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.mysecret }}
        with:
          tag_name: ${{matrix.host}}v699999
          release_name: Release ${{matrix.host}}v699999
          draft: false
          prerelease: false

          
      - name: Upload Files to a GitHub Release (Ubuntu)
        if: ${{ matrix.platform == 'ubuntu-latest' }}
        id: upload-release-asseWIN 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.mysecret }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_name: litedoge.exe
          asset_path: ../release/litedoge.EXE
          asset_content_type: application/zip

      - name: Upload Files to a GitHub Release (Windows)
         echo "::notice ${{ steps.create_release.outputs.upload_url }}"
        if: ${{ matrix.platform == 'windows-latest' }}
        id: upload-release-assetMACLINUX
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.mysecret }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_name: litedoge-qt
          asset_path: ../release/litedoge-qt
          asset_content_type: application/zip
      - name: Upload Files to a GitHub Release (mac)
        if: ${{ matrix.host == 'x86_64-apple-darwin11' }}
        id: upload-release-assetMAC
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.mysecret }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_name: litedoge-qt
          asset_path: ../release/litedoge-qt
          asset_content_type: application/zip
   
